<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="author" content="$author$"/>
  <title>$title$</title>
  <link rel="stylesheet" type="text/css" href="../../css/article-main.css">
</head>

<body>

  <h1>Dorothy Day Archive on the Web</h1>

  <h2>$title$</h2> 

  <div>
  Other formats: <a href="$article$.pdf">PDF</a>, 
                 <a href="$article$.html">HTML</a>
                 <a href="$article$.md">Markdown</a>
  </div>

  $body$

</body>
</html>